---
layout: basic-full/content.hbs
preheader: "This is example text for the preheader set via the YAML front-matter for each email."
---
<hr>
<h1>Escaped Handlebars Brackets</h1>

<p>Working with templates, you'll occasionally need to put some <a href="https://github.com/wildbit/mustachio">Mustachio</a> code in your Handlebars templates. To prevent the Handlebars processing from attempting to process your Mustachio code, you'll need to escape the curly braces by adding a backslash just before the opening curly braces.</p>

\&#123;&#123; something }} will turn into \{{ something }}<br><br>

<hr>
<h1>Headers</h1>
<h1>Header 1</h1>
<h2>Header 2</h2>
<h2>Header 3</h2>

<hr>
<h1>Paragraphs &amp; Formatting</h1>
<p>Transactional email is fun for the whole family! You can design it, write it, code it, and test it. And test it. And test it. And send it. And find a bug.</p>

<p>This paragraph has some <b>bold text</b> and <strong>strong text</strong> along with <i>italicized text</i> and <em>emphasized text</em>.</p>

<hr>
<h1>Lists</h1>
<ul>
  <li>Unordered list item 1</li>
  <li>Unordered list item 2</li>
  <li>Unordered list item 3</li>
</ul>

<ol>
  <li>Ordered list item 1</li>
  <li>Ordered list item 2</li>
  <li>Ordered list item 3</li>
</ol>

<hr>
<!-- Action -->
<h1>Action Buttons</h1>
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td align="center">
      {{> button color="red" label="Danger Button" target_url="http://example.com" }}<br>
      {{> button color="green" label="Success button" target_url="http://example.com" }}<br>
      {{> button label="Default button" target_url="http://example.com" }}
    </td>
  </tr>
</table>

<hr>

<h1>Attribute List</h1>
<p>If your email client baseline is sufficiently modern, you can achieve the same effects with list much more succinctly. We chose to use tables for these lists to accommodate Outlook 2007, 2010, and 2013.</p>

<table class="attributes" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td class="attributes_container">
      <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
          <td class="attributes_item"><strong>Login Page:</strong> \{{login_url}}</td>
        </tr>
        <tr>
          <td class="attributes_item"><strong>Username:</strong> \{{username}}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<hr>
<h1>Option List</h1>
<p>For the most part, option lists are just like attribute lists. They just use line breaks to create some separation between the items.</p>

<table class="attributes" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td class="attributes_container">
      <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
          <td class="attributes_item"><strong><a href="\{{trial_extension_url}}">Restart your trial</a></strong> - If you didn't get a chance to fully try out the product or need a little more time to evaluate, just let us know. Simply reply to this email and we'll extend your trial period.<br><br></td>
        </tr>
        <tr>
          <td class="attributes_item"><strong><a href="\{{feedback_url}}">Share feedback</a></strong> - If {{product_name}} isn't right for you, let us know what you were looking for and we might be able to suggest some alternatives that might be a better fit.</td>
        </tr>
      </table>
    </td>
  </tr>
</table>


<hr>
<h1>Example Closing</h1>
<p>Thanks,<br>{{sender_name }} and the {{product_name }} team</p>
<p><strong>P.S.</strong> Need help getting started? Check out our help documentation. Or, just reply to this email with any questions or issues you have. The {{product_name }} support team is always excited to help you.</p>

<hr>
<h1>Discount Code</h1>
{{> discount }}

<hr>
<h1>Related Items</h1>
{{> related_items }}


<hr>
<h1>Sub-text</h1>
<p>Sub-text is for any content that needs to be included at the bottom of the email but doesn't need to stand out. This can be good for disclaimers and text alternatives.</p>
<!-- Sub copy -->
<table class="body-sub" role="presentation">
  <tr>
    <td>
      <p class="sub">If you’re having trouble clicking the confirm account button, copy and paste the URL below into your web browser.
      </p>
      <p class="sub"><a href="\{{action_url}}">\{{action_url}}</a></p>
    </td>
  </tr>
</table>
