---
layout: basic_full/content.hbs
preheader: "Your trial period for <%= product_name %> has recently expired. What would you like us to do?"
---
<h1>Your {{product_name}} trial expired</h1>
<p>Thanks for trying {{product_name}}. You've added a lot of data, so here are several options for you to consider going forward.</p>

<!-- Action -->
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td align="center">
      {{> button color="green" label="Upgrade your account" target_url="{{action_url}}" }}
    </td>
  </tr>
</table>

<p>If you're not ready to upgrade to a paying account, you have a few other options available to you&hellip;</p>

{{> trial_ending_options }}

<p>Regardless of your choice, we want to say thank you for trying {{product_name}}. We know it's an investment of your time, and we appreciate you giving us a chance.</p>

<p>Thanks,<br>{{sender_name}} and the {{product_name}} Team</p>
<p><strong>P.S.</strong> If you have any questions or need any help, please don't hesitate to reach out. You can reply to this email or join us on live chat during business hours.</p>
