---
layout: basic_full.hbs
preheader: "{{invite_sender_name}} with {{invite_sender_organization_name}} has invited you to use <%= product_name %> to collaborate with them."
---
<h1>Hi, \{{name}}!</h1>
<p>\{{invite_sender_name}} with \{{invite_sender_organization_name}} has invited you to use {{product_name}} to collaborate with them. Use the button below to set up your account and get started:</p>

<!-- Action -->
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td align="center">
      {{> button label="Set up account" target_url="{{action_url}}" }}
    </td>
  </tr>
</table>

<p>If you have any questions for \{{invite_sender_name}}, you can reply to this email and it will go right to them. Alternatively, feel free to <a href="mailto:\{{support_email}}">contact our customer success team</a> anytime. (We're lightning quick at replying.) We also offer <a href="\{{live_chat_url}}">live chat</a> during business hours.</p>

<p>Welcome aboard,<br>The {{product_name}} Team</p>
<p><strong>P.S.</strong> Need help getting started? Check out our <a href="\{{help_url}}">help documentation</a>.</p>

{{> button_trouble }}
