<!-- Border based button
     https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="{{#if align}}{{align}}{{else}}center{{/if}}">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <a href="{{target_url}}" class="button button--{{color}}" target="_blank">{{label}}</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
