<!-- Border based button
     https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->

<table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
  <tr>
    <td align="{{#if align}}{{align}}{{else}}center{{/if}}">
      <a href="{{target_url}}" class="f-fallback button{{#if color}} button--{{color}}{{/if}}" target="_blank">{{label}}</a>
    </td>
  </tr>
</table>
