<tr>
  <td>
    <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
      <tr>
        <td class="content-cell" align="center">
          {{#if use_images}}
          <table class="social" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
            <tr>
              {{#if facebook_url}}
              <td class="align-center">
                <a href="{{ facebook_url }}">
                  <img src="{{ images_url }}facebook{{#if use_social_circles}}_circle{{/if}}.png" height="20" alt="Facebook" class="social_icon">
                </a>
              </td>
              {{/if}}
              {{#if twitter_url}}
              <td class="align-center">
                <a href="{{ twitter_url }}">
                  <img src="{{ images_url }}twitter{{#if use_social_circles}}_circle{{/if}}.png" height="20" alt="Twitter" class="social_icon">
                </a>
              </td>
              {{/if}}
              {{#if instagram_url}}
              <td class="align-center">
                <a href="{{ instagram_url }}">
                  <img src="{{ images_url }}instagram{{#if use_social_circles}}_circle{{/if}}.png" height="20" alt="Instagram" class="social_icon">
                </a>
              </td>
              {{/if}}
              {{#if linkedin_url}}
              <td class="align-center">
                <a href="{{ linkedin_url }}">
                  <img src="{{ images_url }}linkedin{{#if use_social_circles}}_circle{{/if}}.png" height="20" alt="LinkedIn" class="social_icon">
                </a>
              </td>
              {{/if}}
              {{#if dribbble_url}}
              <td class="align-center">
                <a href="{{ dribbble_url }}">
                  <img src="{{ images_url }}dribbble{{#if use_social_circles}}_circle{{/if}}.png" height="20" alt="dribbble" class="social_icon">
                </a>
              </td>
              {{/if}}
              {{#if youtube_url}}
              <td class="align-center">
                <a href="{{ youtube_url }}">
                  <img src="{{ images_url }}youtube{{#if use_social_circles}}_circle{{/if}}.png" height="20" alt="YouTube" class="social_icon">
                </a>
              </td>
              {{/if}}
              {{#if googleplus_url}}
              <td class="align-center">
                <a href="{{ google_plus_url }}">
                  <img src="{{ images_url }}googleplus{{#if use_social_circles}}_circle{{/if}}.png" height="20" alt="Google+" class="social_icon">
                </a>
              </td>
              {{/if}}
              {{#if pinterest_url}}
              <td class="align-center">
                <a href="{{ pinterest_url }}">
                  <img src="{{ images_url }}pinterest{{#if use_social_circles}}_circle{{/if}}.png" height="20" alt="Pinterest" class="social_icon">
                </a>
              </td>
              {{/if}}
            </tr>
          </table>
          {{/if}}

          <p class="f-fallback sub align-center">&copy; 2019 {{ product_name }}. All rights reserved.</p>
          <p class="f-fallback sub align-center">
            {{ formal_company_name }}
            {{#if address_line_1 }}
            <br>{{address_line_1 }}
            {{/if}}
            {{#if address_line_2 }}
            <br>{{address_line_2 }}
            {{/if}}
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>