<tr>
  <td class="email-masthead">
    <a href="{{ product_url }}" class="f-fallback email-masthead_name">
      {{#if use_images }}
      <img src="{{ images_url }}{{ logo_file }}" alt="{{ product_name }}" width="{{ logo_width }}">
      {{else}}
      {{ product_name }}
      {{/if}}
    </a>
  </td>
</tr>