{{#if use_images }}
<!-- Related Items -->
<table class="related-wrapper" align="center" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td class="related-heading" align="center" colspan="2">
      <h2>You may also like...</h2>
    </td>
  </tr>
  <tr>
    <td class="related-item" align="center">
      <a href="{{ item_one_link }}">
        <img src="{{ images_url }}related_placeholder.png" width="180">
        <strong>\{{ item_one_name }}</strong>
      </a>
    </td>
    <td class="related-item" align="center">
      <a href="{{ item_two_link }}">
        <img src="{{ images_url }}related_placeholder.png" width="180">
        <strong>\{{ item_two_name }}</strong>
      </a>
    </td>
  </tr>
</table>
{{/if}}
