<table class="attributes" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td class="attributes_content">
      <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
          <td class="attributes_item">
            <div class="f-fallback">
              <strong><a href="\{{trial_extension_url}}">Restart your trial</a></strong> - If you didn't get a chance to fully try out the product or need a little more time to evaluate, just let us know. Simply reply to this email and we'll extend your trial period.<br><br>
            </div>
          </td>
        </tr>
        <tr>
          <td class="attributes_item">
            <div class="f-fallback">
              <strong><a href="\{{feedback_url}}">Share feedback</a></strong> - If {{product_name}} isn't right for you, let us know what you were looking for and we might be able to suggest some alternatives that might be a better fit.<br><br>
            </div>
          </td>
        </tr>
        <tr>
          <td class="attributes_item">
            <div class="f-fallback">
              <strong><a href="\{{export_url}}">Export your data</a></strong> - If {{product_name}} wasn't a good fit, you can export your data for use elsewhere.<br><br>
            </div>
          </td>
        </tr>
        <tr>
          <td class="attributes_item">
            <div class="f-fallback">
              <strong><a href="\{{close_account_url}}">Close your account</a></strong> - You can close your account and delete your data. Or, do nothing and we'll automatically close it and delete your data for you in 90 days. But don't worry, we'll send you another email before that happens.
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>