<ul class="option-list">
  <li><strong><a href="\{{trial_extension_url}}">Restart your trial</a></strong> - If you didn't get a chance to try the product out fully or just need a little more time to evaluate it, just let us know. Just reply to this email, and we'll set you up with a fresh trial period.</li>
  <li><strong><a href="\{{feedback_url}}">Share some feedback</a></strong> - If {{product_name}} isn't right for you, let us know what you were looking for and we might be able to suggest some alternative products that might be a better fit.</li>
  <li><strong><a href="\{{export_url}}">Export your data</a></strong> - If {{product_name }} wasn't a good fit, you can export your data for use elsewhere.</li>
  <li><strong><a href="\{{close_account_url}}">Close your account</a></strong> - You can also close your account and delete your data. Or, do nothing and we'll clean up for you in a couple of months. Don't worry, we'll send you another heads up before that happens, though.</li>
</ul>