---
layout: layout.hbs
subject: "Please pay {{ total }} due by {{ due_date }}"
preheader: "This is an invoice for your purchase on {{ purchase_date }}. Please submit payment by {{ due_date }}"
---
<table class="email-content" width="100%" cellpadding="0" cellspacing="0">

  {{> masthead }}

  <!-- Email Body -->
  <tr>
    <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
      <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">

        <!-- Body content -->
        <tr>
          <td class="content-cell">

            <h1>Hi \{{name}},</h1>
            <p>Thanks for using {{product_name}}. This is an invoice for your recent purchase.</p>


            <table class="attribute-list" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td class="attribute-list-container">
                  <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="attribute-list-item"><strong>Amount Due:</strong> \{{total}}</td>
                    </tr>
                    <tr>
                      <td class="attribute-list-item"><strong>Due By:</strong> \{{due_date}}</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <!-- Action -->
            <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center">
                  {{> button color="green" label="Pay this Invoice" target_url="{{action_url}}" }}
                </td>
              </tr>
            </table>

            <table class="purchase-wrapper" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td><h3>\{{invoice_id}}</h3></td>
                <td><h3 class="align-right">\{{date}}</h3></td>
              </tr>
              <tr>
                <td colspan="2">
                  <table class="purchase-table" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <th><p>Description</p></th>
                      <th><p class="align-right">Amount</p></th>
                    </tr>
                    \{{#each invoice_details}}
                      <tr>
                        <td width="80%">\{{description}}</td>
                        <td class="align-right" width="20%">\{{amount}}</td>
                      </tr>
                    \{{/each}}
                    <tr>
                      <td width="80%" class="total-cell" valign="middle"><p class="total-cell_label">Total</p></td>
                      <td width="20%" class="total-cell" valign="middle"><p>\{{total}}</p></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <p>If you have any questions about this invoice, simply reply to this email or reach out to our <a href="\{{support_url}}">support team</a> for help.</p>

            <p>Cheers,<br>The {{product_name}} Team</p>

            {{> related_items }}

            {{> button_trouble }}

          </td>
        </tr>
      </table>
    </td>
  </tr>

  {{> footer }}

</table>
