---
layout: layout.hbs
subject: Thanks for purchasing from {{product_name}}. This is a receipt for {{total}}
---
<table class="email-content" width="100%" cellpadding="0" cellspacing="0">

  {{> masthead}}

  <!-- Email Body -->
  <tr>
    <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
      <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">

        <!-- Body content -->
        <tr>
          <td class="content-cell">

            <h1>Hi \{{name}},</h1>
            <p>Thanks for using {{product_name}}. This email serves as a receipt for your purchase. No payment is due with this receipt.</p>
            <p>Please retain this email receipt for your records. Also, on your statement this purchase will appear as “{{credit_card_statement_name}}”.</p>

            <table class="purchase-wrapper" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td><h3>\{{receipt_id}}</h3></td>
                <td><h3 class="align-right">\{{date}}</h3></td>
              </tr>
              <tr>
                <td colspan="2">
                  <table class="purchase-table" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <th><p>Description</p></th>
                      <th><p class="align-right">Amount</p></th>
                    </tr>
                    \{{#each receipt_details}}
                      <tr>
                        <td width="80%">\{{description}}</td>
                        <td class="align-right" width="20%">\{{amount}}</td>
                      </tr>
                    \{{/each}}
                    <tr>
                      <td width="80%" class="total-cell" valign="middle"><p class="total-cell_label">Total</p></td>
                      <td width="20%" class="total-cell" valign="middle"><p>\{{total}}</p></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <p>Cheers,<br>The team at {{product_name}}</p>
            <p><strong>P.S.</strong> Please reply to this email if you want to ask a question or just say hi.</p>

          </td>
        </tr>
      </table>
    </td>
  </tr>

  {{> footer}}

</table>
