---
layout: layout.hbs
subject: Set up a new password for {{product_name }}
---
<table class="email-content" width="100%" cellpadding="0" cellspacing="0">

  {{> masthead}}

  <!-- Email Body -->
  <tr>
    <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
      <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">

        <!-- Body content -->
        <tr>
          <td class="content-cell">

            <p>We received a request to reset the password to access {{product_name }} with your email address. (&#123;&#123;email_address&#125;&#125;)</p>

            <p>However, we were unable to find an account associated with this address.</p>

            <p>If you are a {{product_name }} user and were expecting this email, consider trying to request a password reset</a> using the email address associated with your account.</p>

            <!-- Action -->
            <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center">
                  {{> button color="red" label="Try another email" }}
                </td>
              </tr>
            </table>

            <p>If you do not use {{product_name }} or did not request a password reset, please ignore this email or reply directly to this email if you have questions or concerns for our support team.</p>
            <p>Thanks,<br>{{sender_name }} and the {{product_name }} Team</p>

            <!-- Sub copy -->
            <table class="body-sub">
              <tr>
                <td>
                  <p class="sub">If you’re having trouble button above, copy and paste the URL below into your web browser.</p>
                  <p class="sub"><a href="&#123;&#123;action_url&#125;&#125;">&#123;&#123;action_url&#125;&#125;</a></p>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>

  {{> footer }}

</table>
