---
layout: layout.hbs
subject: Your [product name] trial is about to expire
---
<table class="email-content" width="100%" cellpadding="0" cellspacing="0">

  {{> masthead}}

  <!-- Email Body -->
  <tr>
    <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
      <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">

        <!-- Body content -->
        <tr>
          <td class="content-cell">

            <h1>Hi \{{name}},</h1>
            <p>Thanks for trying up for {{product_name}}. Your trial period ends in 3 days, and we wanted to give you a heads up.</p>
            <p>You've created a fair amount of data on your account, so we've included information on several options for you to consider.</p>

            <!-- Action -->
            <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center">
                  {{> button color="green" label="Upgrade your account"}}
                </td>
              </tr>
            </table>

            <p>If you're not ready to upgrade to a paying account, you have a few other options that can help&hellip;</p>

            <ul class="option-list">
              <li><strong>Extend your trial</strong> If you didn't get a chance to try it out fully or just need a little more time to evaluate it, just let us know. Just reply to this email, and we'll set you up with a fresh trial period.</li>
              <li><strong>Share some feedback</strong> If {{product_name}} isn't right for you, let us know what you were looking for and we might be able to suggest some alternative products that might be a better fit.</li>
              <li><strong><a href="\{{export_url}}">Export your data</a></strong> If {{product_name }} wasn't a good fit, you can export your data for use elsewhere.</li>
              <li><strong><a href="\{{close_account_url}}">Close your account</a></strong> You can also close your account and delete your data. Or, do nothing and we'll clean up for you in a couple of months. Don't worry, we'll send you another heads up before that happens, though.</li>
            </ul>

            <p>Regardless of your choice, we just want to say thanks for trying out {{product_name}}. We know it's time consuming, so we appreciate you giving us a chance.</p>

            <p>Thanks,<br>{{sender_name}} and the {{product_name}} Team</p>
            <p><strong>P.S.</strong> If you have any questions or need any help, please don't hesitate to reach out. You can reply to this email or join us on live chat during business hours.</p>

          </td>
        </tr>
      </table>
    </td>
  </tr>

  {{> footer}}

</table>
