---
layout: layout.hbs
subject: Your [product name] trial is about to expire
preheader: Your trial period for {{product_name}} is about expired.
---
<table class="email-content" width="100%" cellpadding="0" cellspacing="0">

  {{> masthead }}

  <!-- Email Body -->
  <tr>
    <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
      <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">

        <!-- Body content -->
        <tr>
          <td class="content-cell">

            <h1>Hi \{{name}},</h1>
            <p>Thanks for trying {{product_name}}. Your trial period ends in 3 days, and we wanted to give you a heads up.</p>
            <p>You've created a fair amount of data on your account, so we've included information on several options for you to consider going forward.</p>

            <!-- Action -->
            <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center">
                  {{> button color="green" label="Upgrade your account"}}
                </td>
              </tr>
            </table>

            <p>If you're not ready to upgrade to a paying account, you have a few other options available to you&hellip;</p>

            {{> trial_ending_options }}

            <p>Regardless of your choice, we just want to say thanks for trying out {{product_name}}. We know it's time consuming, so we appreciate you giving us a chance.</p>

            <p>Thanks,<br>{{sender_name}} and the {{product_name}} Team</p>
            <p><strong>P.S.</strong> If you have any questions or need any help, please don't hesitate to reach out. You can reply to this email or join us on live chat during business hours.</p>

          </td>
        </tr>
      </table>
    </td>
  </tr>

  {{> footer }}

</table>
