---
layout: layout.hbs
subject: "Welcome to {{product_name}}, {{name}}!"
preheader: "Thanks for trying out {{product_name}}. We've pulled together some information and resources to help you get started."
---
<table class="email-content" width="100%" cellpadding="0" cellspacing="0">

  {{> masthead }}

  <!-- Email Body -->
  <tr>
    <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
      <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">

        <!-- Body content -->
        <tr>
          <td class="content-cell">

            <h1>Welcome, \{{name}}!</h1>
            <p>Thanks for trying {{product_name}}. We’re thrilled to have you on board.</p>
            
            <p>To get the most out of {{product_name}}, do this primary next step:</p>

            <!-- Action -->
            <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center">
                  {{> button test="hi" label="Do this Next" target_url="\{{action_url}}" }}
                </td>
              </tr>
            </table>

            <p>For reference, here's your login information:</p>
            <ul class="attribute-list">
              <li><strong>Login Page:</strong> \{{login_url}}</li>
              <li><strong>Your Username:</strong> \{{username}}</li>
            </ul>

            <p>You've started a \{{trial_length}} day trial. You can upgrade to a paying account any time.</p>
            <ul class="attribute-list">
              <li><strong>Trial Start Date:</strong> \{{trial_start_date}}</li>
              <li><strong>Trial End Date:</strong> \{{trial_end_date}}</li>
            </ul>

            <p>If you have any questions, feel free to <a href="mailto:\{{support_email}}">email our customer success team</a>. (We're lightning quick at replying.) We also offer <a href="\{{live_chat_url}}">live chat</a> during business hours.</p>

            <p>Thanks,<br>{{sender_name}} and the {{product_name}} Team</p>
            <p><strong>P.S.</strong> Need immediate help getting started? Check out our <a href="\{{help_url}}">help documentation</a>. Or, just reply to this email, the {{product_name }} support team is always ready to help!</p>

            {{> button_trouble }}

          </td>
        </tr>
      </table>
    </td>
  </tr>

  {{> footer }}

</table>
