---
layout: basic_full/content.hbs
preheader: "This is a receipt for your recent purchase on {{ purchase_date }}. No payment is due with this receipt."
---
<h1>Hi \{{name}},</h1>
<p>Thanks for using {{product_name}}. This email is the receipt for your purchase. No payment is due.</p>

<p>This purchase will appear as “{{credit_card_statement_name}}” on your credit card statement for your \{{credit_card_brand}} ending in \{{credit_card_last_four}}. Need to <a href="\{{billing_url}}">update your payment information</a>?</p>

{{> discount }}

<table class="purchase" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td><h3>\{{receipt_id}}</h3></td>
    <td><h3 class="align-right">\{{date}}</h3></td>
  </tr>
  <tr>
    <td colspan="2">
      <table class="purchase_content" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <th class="purchase_heading" align="left"><p class="f-fallback">Description</p></th>
          <th class="purchase_heading" align="right"><p class="f-fallback">Amount</p></th>
        </tr>
        \{{#each receipt_details}}
          <tr>
            <td width="80%" class="purchase_item"><span class="f-fallback">\{{description}}</span></td>
            <td class="align-right" width="20%" class="purchase_item"><span class="f-fallback">\{{amount}}</span></td>
          </tr>
        \{{/each}}
        <tr>
          <td width="80%" class="purchase_footer" valign="middle"><p class="f-fallback purchase_total purchase_total--label">Total</p></td>
          <td width="20%" class="purchase_footer" valign="middle"><p class="f-fallback purchase_total">\{{total}}</p></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p>If you have any questions about this receipt, simply reply to this email or reach out to our <a href="\{{support_url}}">support team</a> for help.</p>

<p>Cheers,<br>The {{product_name}} Team</p>

<!-- Action -->
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td align="center">
      {{> button color="blue" label="Download as PDF" target_url="{{action_url}}" }}
    </td>
  </tr>
</table>

{{> related_items }}

<!-- Sub copy -->
<table class="body-sub" role="presentation">
  <tr>
    <td>
      <p class="f-fallback sub">Need a printable copy for your records?</strong> You can <a href="\{{action_url}}">download a PDF version</a>.</p>
      <p class="f-fallback sub">Moved recently? Have a new credit card? You can easily <a href="\{{billing_url}}">update your billing information</a>.</p>
    </td>
  </tr>
</table>
