---
layout: basic-full/content.hbs
preheader: "We received a request to reset your password with this email address. ({{email_address}})"
---
<p>We received a request to reset the password to access {{product_name}} with your email address (\{{email_address}}) from a \{{operating_system}} device using \{{browser_name}}, but we were unable to find an account associated with this address.</p>

<p>If you use {{product_name}} and were expecting this email, consider trying to request a password reset using the email address associated with your account.</p>

<!-- Action -->
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td align="center">
      {{> button color="blue" label="Try a different email" target_url="{{action_url}}" }}
    </td>
  </tr>
</table>

<p>If you do not use {{product_name}} or did not request a password reset, please ignore this email or <a href="\{{support_url}}">contact support</a> if you have questions.</p>

<p>Thanks,<br>The {{product_name}} team</p>

{{> button_trouble }}
